<p-toast></p-toast>
<app-spinner></app-spinner>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-fluid p-formgrid grid font-bold">
                <div class="field col-10">
                    <p-table
                        #dt
                        [value]="validaciones"
                        dataKey="valCar_id"  selectionMode="multiple" [resizableColumns]="true"
                        [tableStyle]="{ 'min-width': '20rem' }"
                        selectionMode="single" [(selection)]="selectedValidaciones"
                        (onRowSelect)="onRowSelect($event)"
                        styleClass="p-datatable-gridlines p-datatable-sm"
                    >
                    
                        <ng-template pTemplate="caption">
                            <div>

                                <div class="flex flex-wrap">
                                    <div class="flex flex-column mr-1">
                                        <label>Region</label>
                                        <p-multiSelect
                                            [showClear]="true"
                                            [options]="form_filterG_option_region"
                                            optionLabel="d"
                                            [(ngModel)]="form_filterG_model_region"
                                            optionValue="i"
                                            placeholder="Selecciona Region"
                                            appendTo="body"
                                            (onChange)="selectedCombo(0)"
                                        ></p-multiSelect>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>Gerencia</label>
                                        <p-dropdown
                                            [showClear]="true"
                                            [options]="form_filterG_option_gerencia"
                                            optionLabel="d"
                                            [(ngModel)]="form_filterG_model_gerencia"
                                            optionValue="i"
                                            placeholder="Selecciona Gerencia"
                                            appendTo="body"
                                            [disabled]="form_filterG_model_region ? false : true"
                                            (onChange)="selectedCombo(1)"

                                        ></p-dropdown>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>Cedis</label>
                                        <p-dropdown
                                            [showClear]="true"
                                            [options]="form_filterG_option_cedi"
                                            optionLabel="d"
                                            [(ngModel)]="form_filterG_model_cedi"
                                            optionValue="i"
                                            placeholder="Selecciona Cedi"
                                            appendTo="body"
                                            [disabled]="form_filterG_model_gerencia &&
                                            form_filterG_model_gerencia != -1 ? false : true"
                                            (onChange)="selectedCombo(2)"

                                        ></p-dropdown>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>Rutas</label>
                                        <p-multiSelect
                                            [options]="form_filterG_option_rutas"
                                            optionLabel="d"
                                            [(ngModel)]="form_filterG_model_rutas"
                                            optionValue="i"
                                            placeholder="Selecciona Cedi"
                                            appendTo="body"
                                            [disabled]="form_filterG_model_cedi &&
                                            form_filterG_model_cedi != -1 ? false : true"

                                        ></p-multiSelect>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>Estatus</label>
                                        <p-dropdown
                                            [options]="form_filterG_options_estatus"
                                            [(ngModel)]="form_filterG_model_estatus"
                                            [showClear]="true"
                                            optionLabel="d"
                                            optionValue="i"
                                            placeholder="Selecciona Estatus"
                                            appendTo="body"
                                        ></p-dropdown>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>De</label>
                                        <p-calendar appendTo="body"
                                            style="width: 80px;"
                                            dateFormat="yy-mm-dd"
                                            [panelStyle]="{'width':'25%'}"
                                            [showButtonBar]="true"
                                             [(ngModel)]="form_filterG_model_fecha_de"
                                        ></p-calendar>
                                    </div>
                                    <div class="flex flex-column mr-1">
                                        <label>A</label>
                                        <p-calendar appendTo="body"
                                            style="width: 80px;"
                                            dateFormat="yy-mm-dd"
                                            [panelStyle]="{'width':'25%'}"
                                            [showButtonBar]="true"
                                             [(ngModel)]="form_filterG_model_fecha_a"
                                        ></p-calendar>
                                    </div>
                                    <div class="flex flex-column md:flex-row md:justify-content-start md:align-items-center mr-1">
                                        <p-button
                                            label="Filtrar" icon="pi pi-filter"
                                            (onClick)="runFilterGeneric()"
                                        ></p-button>
                                    </div>
                                <div
                                        class="flex flex-column md:flex-row md:justify-content-start md:align-items-center">
                                        <p-button icon="pi pi-download"
                                            pTooltip="Descargar Filtro CSV" severity="warning"
                                            [disabled]="!form_filterG_model_region ? true : false" (click)="downloadCartera()"
                                        ></p-button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr class="text-sm">
                                <th>Id</th>
                                <th>Car Id</th>
                                <th >Region</th>
                                <th >Territorio</th>
                                <th >Cedi</th>
                                <th >Promotor</th>
                                <th >Estatus Validacion</th>
                                <th >Revisado Gepp</th>
                                <th >Razon de Rechazo</th>
                                <th >Alta</th>
                                <th >Source</th>
                                <th >Estatus Abrio</th>
                                <th >Garrafon de Marca</th>
                                <th >Marca</th>
                                <th >Garrafones por Semana</th>
                                <th >Esta Interesado</th>
                                <th >Folio</th>
                                <th >Intentos</th>
                                <th >Ruta</th>
                                <th >NUD</th>
                                <th >Nombre</th>
                                <th >GPS</th>
                                <th >Direccion</th>
                                <th >Numero Exterior</th>
                                <th >Numero Interior</th>
                                <th >Colonia</th>
                                <th >Callet 1</th>
                                <th >Callet 2</th>
                                <th >Codigo Postal</th>
                                <th >Frecuencia</th>
                                <th >Telefono Celular</th>
                                <th >Telefono Fijo</th>
                                <th >Comentario</th>
                                <th >Correo</th>
                                <th >Foto 1</th>
                                <th >Firma</th>
                                <th >Fecha de Envio</th>
                                <th >Hora de Envio</th>
                                <th >Intento 1</th>
                                <th >Intento 2</th>
                                <th >Intento 3</th>
                                <th >Intento 4</th>
                                <th >Intento 5</th>
                                <th >Archivo</th>
                                <th >Fecha Validacion</th>
                                <th >Hora Validacion</th>
                                <th >Cambios Masivos</th>
                                <th >Versión</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-validacion>
                            <tr class="text-sm" [pSelectableRow]="validacion">
                                <td>{{validacion.valCar_id}}</td>
                                <td>{{validacion.valCar_car_id}}</td>
                                <td>{{validacion.valCar_reg}}</td>
                                <td>{{validacion.valCar_gerencia}}</td>
                                <td>{{validacion.valCar_cds}}</td>
                                <td>{{validacion.valCar_uid}}</td>
                                <td>{{validacion.valCar_val_status}}</td>
                                <td>{{validacion.valCar_gepp_rev}}</td>
                                <td>{{validacion.car_mot_inc}}</td>
                                <td>{{validacion.car_nuevo}}</td>
                                <td>{{validacion.valCar_sourse}}</td>
                                <td>{{validacion.valCar_status_abrio}}</td>
                                <td>{{validacion.valCar_pro_compra}}</td>
                                <td>{{validacion.valCar_pro_marca}}</td>
                                <td>{{validacion.valCar_pro_cuantos}}</td>
                                <td>{{validacion.valCar_pro_interesado}}</td>
                                <td>{{validacion.valCar_codigo_verificacion}}</td>
                                <td>{{validacion.valCar_intentos}}</td>
                                <td>{{validacion.valCar_rt_prev}}</td>
                                <td>{{validacion.valCar_NUD}}</td>
                                <td>{{validacion.valCar_nombre}}</td>
                                <td>{{validacion.valCar_gps}}</td>
                                <td>{{validacion.valCar_dir}}</td>
                                <td>{{validacion.valCar_num_ext}}</td>
                                <td>{{validacion.valCar_num_int}}</td>
                                <td>{{validacion.valCar_col}}</td>
                                <td>{{validacion.valCar_cll_1}}</td>
                                <td>{{validacion.valCar_cll_2}}</td>
                                <td>{{validacion.valCar_cp}}</td>
                                <td>{{validacion.valCar_frec_vis}}</td>
                                <td>{{validacion.valCar_tel_mot}}</td>
                                <td>{{validacion.valCar_tel_int}}</td>
                                <td>{{validacion.valCar_comments}}</td>
                                <td>{{validacion.valCar_email}}</td>
                                <td>{{validacion.valCar_f1}}</td>
                                <td>{{validacion.valCar_firma_digital}}</td>
                                <td>{{validacion.valCar_upload_date}}</td>
                                <td>{{validacion.valCar_upload_time}}</td>
                                <td>{{validacion.intento_date_time_1}}</td>
                                <td>{{validacion.intento_date_time_2}}</td>
                                <td>{{validacion.intento_date_time_3}}</td>
                                <td>{{validacion.intento_date_time_4}}</td>
                                <td>{{validacion.intento_date_time_5}}</td>
                                <td>{{validacion.valCar_bk}}</td>
                                <td>{{validacion.valCar_tel_rev_date}}</td>
                                <td>{{validacion.valCar_tel_rev_time}}</td>
                                <td>{{validacion.valCar_ms_updt}}</td>
                                <td>{{validacion.valCar_ver}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex justify-content-start">
                        <div class="col-2">
                            <button pButton icon="pi pi-refresh"
                            styleClass="p-button-sm" class="p-button-help p-button-sm"
                                pTooltip="Refresh"
                                ooltipPosition="bottom">
                            </button>
                        </div>
                        <p-paginator
                            (onPageChange)="onPageChange($event)"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                            [first]="first" [rows]="rows"
                            [totalRecords]="totalRecords" [rows]="15"
                            [rowsPerPageOptions]="[15, 20, 30, 40, 50, 100]"
                        ></p-paginator>
                    </div>
                </div>
                <div class="field col-2">
                    <p-accordion [multiple]="true" [activeIndex]="[0,1]"
                    style="padding: 0 !important;">
                        <p-accordionTab header="Fotos">
                            <div class="field col-12">
                                <p-image
                                    src="{{form_model_foro_selected}}"
                                    width="150" height="180" class="shadow-4" [preview]="true"
                                ></p-image>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Mapa">
                            <div class="field col-12">
                                <google-map  [center]="center"
                                    [zoom]="zoom" width="150" height="150" >
                                    <map-marker *ngIf="marker"
                                        [position]="marker.position"
                                    >
                                    </map-marker>
                                </google-map>
                            </div>
                        </p-accordionTab>
                    </p-accordion>

                </div>
            </div>
        </div>
    </div>
</div>
