::ng-deep .columna-color {
    background-color: #0BA5E9; /* Amarillo suave */
    color: #000; /* Texto negro */
}
::ng-deep .columna-val {
    background-color: #21C55E; /* Amarillo suave */
    color: #000; /* Texto negro */
}